.scrollTextOnHighlight {
    tv-text-highlight-style: marquee-on-highlight;
    color: #ff2222;
    width: min-content;
}
.showAndScrollTextOnHighlight {
    tv-text-highlight-style: marquee-and-show-on-highlight;
    color: #ff2222;
}
.tile {
    width: 259;
    height: 375;
}
.tile_compact {
    width: 180;
    height: 250;
}
.tile_large {
    width: 334;
    height: 501;
}
.text-highlight-primary {
    tv-text-style: none;
    color: #ff2222;
    font-size: 38;
    tv-highlight-color: #ff2222;
}

.darkBackgroundColor {
    background-color: #000000;
}

.homeCategory {
    color: #ff2222;
}

.text-red {
    color: #ff2222;
}