<document>
   <catalogTemplate theme="dark" class="darkBackgroundColor">
	  <banner>
		 <title class="textRed">Film</title>
	  </banner>
	  <list>
		 <section>
			{{#each allgenres}}
			<listItemLockup>
				<title class="text-highlight-primary scrollTextOnHighlight">{{name}}</title>
				<decorationImage src="{{img_url 'chevron.png'}}" width="14" height="22"/>
				<relatedContent>
					<grid>
					<section binding="items: {movies}">
						<prototypes>
							<lockup prototype="Movie">
								<img class="tile_compact" binding="@src: {small_poster};"/>
								<title class="showAndScrollTextOnHighlight" binding="textContent: {title};"></title>
							</lockup>
						</prototypes>
					</section>
				  </grid>
			   </relatedContent>
			</listItemLockup>
			{{/each}}
		 </section>
	  </list>
   </catalogTemplate>
</document>